.wrapper {
    position: relative;
    display: flex;
    max-width: 460px;
    width: 100%;
    /*background-color: #B5E424;*/
    padding: 5px;
    margin-left: 30px;
}

.wrapper:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    bottom: 6px;
    left: 90px;
    border-radius: 50%;
   /* background-color: #B5E424;*/
    z-index: 99;
}

.message {
    max-width: 355px;
    width: 100%;
    height: 95px;
    background-color: darkslateblue/*#082103*/;
    border-radius: 10px 10px 10px 0;
    padding: 20px;
    position: relative;
    opacity: 0.8;
}

.message:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    left: -20px;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 20px 20px;
    border-color: transparent transparent darkslateblue/*#082103*/ transparent;
    opacity: 0.8;
}

.img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.block {
    width: 80px;
    height: 80px;
    margin: 50px 25px 5px 10px;
}

.name {
    color: #998FBA;
    font-size: 30px;
    line-height: 15px;
}

.text {
    color: #D8E3D4;
    font-size: 24px;
    line-height: 10px;
}

.time {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    right: 15px;
    bottom: 10px;
    color: #B5E424/*#274021*/;
}

.status {
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    right: 15px;
    top: -15px;
    color: teal;
}

.hwtitle {
    color: teal;
    margin-left: 30px;
    text-shadow: 4px 4px 10px red, 0 0 2em blue, 0 0 0.5em blue;
}