.default {
    width: 90px;
    margin-top: 10px;
    font-size: 18px;
    color: teal;
    padding: 3px 7px;
    border-radius: 3px;
    border: 1px solid darkslategray;
}

.default:disabled,
.default:disabled:hover{
    color: aqua;
    background: #4B5763;
}

.default:focus {
    color: cornflowerblue;
    background: indigo;
}

.default:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px 7px rgba(341, 70, 80, 0.5);
    transition: box-shadow 0.5s, transform 0.5s;

}

.red {
    color: maroon;
    background: red;
    padding: 3px 7px;
    border-radius: 3px;
}